     <div>
      <h2>Lets dynamically create some components!</h2>
      <button (click)="createHelloWorldComponent()">Create Hello World 1</button>
      <button (click)="createWorldHelloComponent()">Create World Hello 2</button>
      <!--<dynamic-component [componentData]="componentData"></dynamic-component>-->
    </div>