<section id="hero-area">
  <img class="img-responsive" src="assets/images/header.jpg" alt="">
</section>
<!--{{restaurant | json}}-->
<!--
    Header start 
	============================== -->
<nav id="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <nav class="navbar navbar-default">
            <div class="container-fluid">

              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                <a class="navbar-brand" href="#">
                  <img class="logo" [src]="restaurant?.avatar" alt="Logo">
                </a>
                <h1 class="display-header"> {{restaurant?.name }} </h1>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="top-nav">
                  <li><a href="#hero-area">Home</a></li>
                  <li><a href="#about-us">about us</a></li>
                  <li><a href="#blog">Blog</a></li>
                  <li><a href="#price">menu</a></li>
                  <li><a href="#subscribe">news</a></li>
                  <li><a href="#contact-us">contacts</a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
          </nav>
        </div>
      </div>
      <!-- .col-md-12 close -->
    </div>
    <!-- .row close -->
  </div>
  <!-- .container close -->
</nav>
<!-- header close -->
<!--
    Slider start
    ============================== -->

<!--
    about-us start
    ============================== -->
<section id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="assets/images/cooker-img.png" alt="cooker-img">
          <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">Your <span>Restaurant’s</span> Website Has To Look <span>Good</span>
          </h1>
          <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
            sint occaecat</p>
        </div>
      </div>
      <!-- .col-md-12 close -->
    </div>
    <!-- .row close -->
  </div>
  <!-- .containe close -->
</section>
<!-- #call-to-action close -->
<!--
    blog start
    ============================ -->
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="heading">Latest <span>From</span> the <span>Blog</span></h1>
          <ul>

            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms"  *ngFor="let photo of restaurant?.photos">
              <div class="blog-img">
                <img [src]="photo" alt="blog-img">
              </div>
              <div class="content-right">
                <h3>{{restaurant?.near}}</h3>
                <p>{{restaurant?.description}}</p>
              </div>
            </li> 
          </ul>
          <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">More Info</a>
        </div>
      </div>
      <!-- .col-md-12 close -->
    </div>
    <!-- .row close -->
  </div>
  <!-- .containe close -->
</section>
<!-- #blog close -->
<!--
    price start
    ============================ -->
<section id="price">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">our <span>MENU</span> the <span>PRICE</span></h1>
          <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
          <div class="pricing-list">
            <div class="title">
              <h3>Featured <span>on the week</span></h3>
            </div>
            <ul>
              <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                <div class="item">
                  <div class="item-title">
                    <h2>Pancakes n' Such</h2>
                    <div class="border-bottom"></div>
                    <span>$ 25.00</span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim&&</p>
                </div>
              </li>
              <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                <div class="item">
                  <div class="item-title">
                    <h2>Homestyle Chicken Pot Pie</h2>
                    <div class="border-bottom"></div>
                    <span>$ 10.00</span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim&&</p>
                </div>
              </li>
              <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                <div class="item">
                  <div class="item-title">
                    <h2>Cereal, Panecillos y Frutas </h2>
                    <div class="border-bottom"></div>
                    <span>$ 5.00</span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim&&</p>
                </div>
              </li>
              <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                <div class="item">
                  <div class="item-title">
                    <h2>Meat of Skewers</h2>
                    <div class="border-bottom"></div>
                    <span>$ 15.00</span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim&&</p>
                </div>
              </li>
              <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="700ms">
                <div class="item">
                  <div class="item-title">
                    <h2>Steak with a Garlic and Parsley Risotto</h2>
                    <div class="border-bottom"></div>
                    <span>$ 75.00</span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim&&</p>
                </div>
              </li>
              <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                <div class="item">
                  <div class="item-title">
                    <h2>Caesar Salad</h2>
                    <div class="border-bottom"></div>
                    <span>$ 7.00</span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim&&</p>
                </div>
              </li>
            </ul>
            <a class="btn btn-default pull-right wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">More Info</a>
          </div>
        </div>
      </div>
      <!-- .col-md-12 close -->
    </div>
    <!-- .row close -->
  </div>
  <!-- .containe close -->
</section>
<!-- #price close -->
<!--
    subscribe start
    ============================ -->
<section id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"> SUBSCRIBE <span>to our</span> NEWSLETTER</h1>
          <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Enter your email to subscribe...">
                <div class="input-group-addon">
                  <button class="btn btn-default" type="submit">subscribe</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- .col-md-12 close -->
    </div>
    <!-- .row close -->
  </div>
  <!-- .containe close -->
</section>
<!-- #subscribe close -->
<!--
    CONTACT US  start
    ============================= -->
<section id="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">our <span>CONTACT US</span></h1>
          <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Sign Up for <span>Email Alerts</span> </h3>
          <form>
            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Write your full name here...">
            </div>
            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
              <input type="text" class="form-control" placeholder="Write your email address here...">
            </div>
            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
              <textarea class="form-control" rows="3" placeholder="Write your message here..."></textarea>
            </div>
          </form>
          <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#" role="button">send your message</a>
        </div>
      </div>
      <!-- .col-md-12 close -->
    </div>
    <!-- .row close -->
  </div>
  <!-- .container close -->
</section>
<!-- #contact-us close -->
<!--
    footer  start
    ============================= -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="block wow fadeInLeft" data-wow-delay="200ms">
          <h3>CONTACT <span>INFO</span></h3>
          <div class="info">
            <ul>
              <li>
                <h4><i class="fa fa-phone"></i>Telefone</h4>
                <p>(000) 123 456 78- (000) 123 4567 89</p>

              </li>
              <li>
                <h4><i class="fa fa-map-marker"></i>Address</h4>
                <p>2046 Blue Spruce Lane Laurel Canada</p>
              </li>
              <li>
                <h4><i class="fa fa-envelope"></i>E mail</h4>
                <p>rest@gmail.com - rest@mail.ru</p>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- .col-md-4 close -->
      <div class="col-md-4">
        <div class="block wow fadeInLeft" data-wow-delay="700ms">
          <h3>LATEST <span>BLOG POSTS</span></h3>
          <div class="blog">
            <ul>
              <li>
                <h4><a href="#">Nov 9-2014</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit sapien</p>
              </li>
              <li>
                <h4><a href="#">Sep 8-2014</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Curabitur ut blandit sapien</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- .col-md-4 close -->
      <div class="col-md-4">
        <div class="block wow fadeInLeft" data-wow-delay="1100ms">
          <div class="gallary">
            <h3>PHOTO <span>STREAM</span></h3>
            <ul>
              <li>
                <a href="#"><img src="assets/images/photo/photo-1.jpg" alt=""></a>
              </li>
              <li>
                <a href="#"><img src="assets/images/photo/photo-2.jpg" alt=""></a>
              </li>
              <li>
                <a href="#"><img src="assets/images/photo/photo-3.jpg" alt=""></a>
              </li>
              <li>
                <a href="#"><img src="assets/images/photo/photo-4.jpg" alt=""></a>
              </li>
            </ul>
          </div>
          <div class="social-media-link">
            <h3>Follow <span>US</span></h3>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-dribbble"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-behance"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- .col-md-4 close -->
    </div>
    <!-- .row close -->
  </div>
  <!-- .containe close -->
</section>
<!-- #footer close -->
<!--
    footer-bottom  start
    ============================= -->
<footer id="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <p>Copyright &copy; 2014 - All Rights Reserved.Design and Developed By <a href="http://www.themefisher.com">Themefisher</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>