
<h1>{{title}}</h1>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
 
  <a class="navbar-brand" href="#">Home</a>
  
  <a class="navbar-brand navbar-toggler-right" [routerLink]="['/register']" > Login </a>
  <a class="navbar-brand navbar-toggler-right" [routerLink]="['/complex-form']" >Complex validate </a>
   <a class="navbar-brand navbar-toggler-right" [routerLink]="['/dynamic-load-component']" >Dynamic Component </a>
    <a class="navbar-brand navbar-toggler-right" [routerLink]="['/employees']" > Employees </a>
</nav> 
 <router-outlet></router-outlet>