

<div class="container">


  <div class="input-group">
    <input type="text" class="form-control" placeholder="search..." [(ngModel)]="searchValue" />
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" (click)="searchRestaurant()"> Go! </button>
  </span>
  </div>

  <p>
    <span class="text"> Total : {{restaurants.total}} </span>
  </p> 
  
  <div class="card-columns">
    <div class="card"  *ngFor="let restaurant of restaurants.hits">
 
       <img class="card-img-top img-fluid" [src]="restaurant._source.avatar" alt="{{restaurant._source.name}}">
     
      <div class="card-block">
        <h4 class="card-title"> {{restaurant._source.name}} </h4>
        <p class="card-text">{{restaurant._source.description}}</p>
         <a href="/restaurant/details/{{restaurant._id}}" class="card-link">See details</a> 
      </div>
    </div> 
  </div>
 
</div>